{% extends 'admin_layout.html' %}


{% block title %}EDIT_SALESPERSON{% endblock %}

{% block content %}
<h2>Salesperson Data TO Edit</h2>
<div>
  <form method = "POST" action="{{ url_for('a_salesperson_edit') }}" autocomplete="off">
    <br/><label for="salesperson_id">id</label>
    <br/><input type="text" name="salesperson_id" id="salesperson_id" required>  
    <br/><label for="salesperson_name">name</label>
    <br/><input type="text" name="salesperson_name" id="salesperson_name" required>
    <br/><label for="price">address</label>
    <br/><input type="text" name="address" id="address" required>  
    <br/><label for="email">email</label>
    <br/><input type="text" name="email" id="email" required>
    <br/><label for="title">title</label>
    <br/><input type="text" name="title" id="title" required>   
    <br/><label for="store">store</label>
    <br/><input type="text" name="store" id="store" required> 
    <br/><label for="salary">salary</label>
    <br/><input type="text" name="salary" id="salary" required>  
    {% if msg != '' %}
        <div class="msg">{{ msg }}</div>
    {% endif %} 
    <br/><input type="submit" value ="Edit"> 
   </form>       
</div>
{% if salesperson == () %}
    Salesperson Data is Empty!
{% else %}
    Product Data:
    <table border = 1>
      <tr>
        <th>salesperson_id</th>
        <th>salesperson_name</th>
        <th>address</th>
        <th>email</th>
        <th>title</th>
        <th>store</th> 
        <th>salary</th>   
      </tr>
      {% for i in salesperson %}
        <tr>
          <td> {{ i['salesperson_id'] }} </td>
          <td> {{ i['salesperson_name'] }} </td>
          <td> {{ i['address'] }} </td>
          <td> {{ i['email'] }} </td>
          <td> {{ i['title'] }} </td>
          <td> {{ i['store'] }} </td>
          <td> {{ i['salary'] }} </td>
        </tr>
       {% endfor %}
     </table>
{% endif %}

{% endblock %}