
{% extends 'layout.html' %}


{% block title %}Check out{% endblock %}


{% block content %}
<h2>Check out!</h2>
{% if form %}

    <p>Thank you, {{ username }}!  We are preparing your order.</p>
{%else%}
    <p>Sorry, {{ username }}! It seems we do not get enough inventory.</p>

{%endif%}


<form action="{{ url_for('result') }}" method="post">
    <input type="text" name="max_price" placeholder="max_price" id="max_price" default = '999999' >

    <input type="text" name="min_price" placeholder="min_price" id="min_price" default="0">
    
    <input type="text" name="name" placeholder="product_name" id="Name" >
  
    <input type="text" name="Product Kind" placeholder="Product Kind" id="Product Kind" default="PC">
   
    <input type="submit" value="Search">
</form>


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Check out!</title>

    <meta charset="utf-8" /> 
    <title>图片缩小不变形实例 www.php.cn</title> 
    <style> 
    .tupian{ border:1px solid #000; width:300px; height:100px} 
    .tupian img{width:300px; height:100px} 
    </style>




  </head>
  <body>
    <!-- <h1>Check out!</h1> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


 






    {% if form %}
       {% for item in form %}
        <center>
           <div class="card"  style="width:23rem;">
                
                    
                      <img src={{item.image}} class="card-img-top" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">{{item.name}}--${{item.price}}: Order {{quantity}}</h5>
                        <a href="{{ url_for('home') }}" class="btn btn-primary">retuen Home page</a>
                        
                      </div>
                    </div>

           </div>
           </center>
       {% endfor %}

    {% else %}
    <br>
    <center>
    <div class="card" style="width: 23rem;">
        
            <img src='{{image}}' class="card-img-top" alt="...">
                
                      <div class="card-body">
                       
                        <h5 class="card-title">{{name}}--${{price}}: Order {{quantity}}</h5>
                        <h5 class="card-text">Sorry! There is no enough inventory for this {{name}}. </h5>

                        <a href="{{ url_for('home') }}" class="btn btn-primary">retuen Home page</a>
                    
                      </div>
                    </div>

           </div>

          <!--  <h1>There is no enough inventory for this {{name}}.</h1> -->
    </br>
        </center>
    {% endif %}

    </div>





{% endblock %}