{% extends 'layout.html' %}


{% block title %}Home{% endblock %}


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

.fit-picture {
    width: 250px;
}


{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>

<form action="{{ url_for('result') }}" method="post">
    <input type="text" name="max_price" placeholder="max_price" id="max_price" default = '999999' >

    <input type="text" name="min_price" placeholder="min_price" id="min_price" default="0">
    
    <input type="text" name="name" placeholder="product_name" id="Name" >
  
    <input type="text" name="Product Kind" placeholder="Product Kind" id="Product Kind" default="PC">
   
    <input type="submit" value="Search">
</form>



<!-- <div class="container bootstrap snipets"> -->
<div class="card-columns">
   <div class="card">
    <center>
        <!-- {{product}} -->
        {% if form %}
             {% for item in form %}
               <div class="card">
               		<img src={{item.image}} class="card-img-top" alt="No figure">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}} -- ${{item.price}}</h5>
                       
                        <!-- <a href="#" class="btn btn-primary">Add to cart</a> &nbsp &nbsp -->
                    
                   
                        <!-- <a href="{{ url_for('checkout')}}?id ={{item.id}}" class="btn btn-primary" id="a">Buy now</a> -->
                        


                        <form action="{{url_for('checkout')}}" method="post">
                            <select name = "name">
                              <option value= "{{item.name}}" SELECTED>{{item.name}}</option>"
                            </select>
                            Number of purchases：
                            <input type="number" name="quantity" placeholder="Quantity" id="quantity" value="1">
                            <div class="msg">{{ msg }}</div>
                            Choose your server：
                             <select name = "saleperson">
                            {% if saleperson %}
                              {%for i in saleperson%}
                              <option value= "{{i}}" selected="selected">{{i}}</option>  
                              {%endfor%}
                            {% else %}
                                <option value= "superviser (work ID: 9999)" selected="selected">superviser (work ID: 9999)--Note:admin should add salesperson into database</option> 
                            {% endif %}
                             </select>

                             <input type="submit" value="Buy Now">
                        </form>


                    <!-- <br><b>{{item.name}} ${{item.price}}</br></b>
               		<br></br> -->
                   <!-- <div class="product tumbnail thumbnail-3"><div class="zoom"><img src={{item.image}} style="width:140px;height:142px; background: transparent;" alt="NOT FOUND"></div> -->
               </div>
           {% endfor %}

        {% else %}
               <h1>There is no product in the store.</h1>
        {% endif %}
    </center>
    </div>
</div>











{% endblock %}